*{
	margin: 0;
	padding: 0;
	/*font-family: sans-serif;*/	
	
	/*text-decoration: none;*/
}
/*
.middle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}*/

.menu{
	width: 200px;
	/*border-radius: 8px;*/
	overflow: hidden;
}

.item{
	border-top: 1px solid #3c506a;
	overflow: hidden;
}

.btn{
	display: block;
	padding: 16px 16px;
	background: #35475e;
	color: white;	
	position: relative;
}
/*
.btn:before{
	content: "";
	position: absolute;
	width: 14px;
	height: 14px;
	background: #3498db;
	left: 20px;
	bottom: -7px;
	transform: rotate(45deg);
}*/

.btn:after {
  content: '';
  
  display: inline-block;
  border: solid white;
  border-width: 0 3px 3px 0;  
  padding: 3px;
  transform: rotate(45deg);
  
}

.smenu{
	background: #fff;
	overflow: hidden;
	transition: max-height 0.3s;
	max-height: 0;
}

.smenu a{
	display: block;
	padding: 16px 26px;
	color: white;
	/*font-size: 14px;*/
	margin: 4px 0;
	position: relative;
}

.smenu a:before{
	content: "";
	position: absolute;
	width: 6px;
	height: 100%;
	background: #3498db;
	left: 0;
	top: 0;
	transition: 0.3;
	opacity: 0;

}

.smenu a:hover:before{
	opacity: 1;
}

.item:target .smenu{
	max-height: none;
}

.miniature {
  
  padding: 1px;  
  width:50px;
}

.miniature:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#canvas-container {
    position: relative;
    width: 800px;
    height: 500px;
    
    
}

#images img.img_dragging {
    opacity: 0.4;
}
/* 
Styles below based on  http://www.html5rocks.com/en/tutorials/dnd/basics/ 
*/

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}